body { 
    font-family: Arial; 
    background:#f7f7f7; 
    padding:20px; 
}
.box { 
    background:white; 
    padding:20px; 
    border-radius:10px; 
    width:450px; 
    margin:auto; 
    box-shadow:0 0 10px #ccc; 
}
button { 
    padding:10px 20px; 
    margin:5px; 
    font-size:16px; 
    cursor:pointer; 
}
